$yellow1: #f2c769;
$gray2: #3e4851;
$gray3: #596773;
$teal1: #99ddd7;
$teal2: #4cc4b9;
$teal3: #00ac9b;
$under_red: #A72118;
$white: #ffffff;
$teal4: #44ad9b;
$blue: #358a9b;
$gray1: #1f2428;
$teal-blue: #0082a6;
$dark-sky-blue: #48bbf0;
$windows-blue: #3a98ce;
$stormy-blue: #54769a;
$light-teal: #99ddd7;

$pale-gray: #f3f5f6;
$pale-gray2: #e8ebed;
$dark-blue: #2a6496;
$charcoal-gray: #3e4851;
$slate-gray: #596773;
$warm-grey: #979797;
$light-mustard: #f2c769;
$greeny-blue: #4cc4b9;
$green-blue: #00ac9b;
$green-blue-two: #00ad9b;
$dark: #181b1e;
$silver: #bac3ca;
$greyish-brown: #4a4a4a;
$scarlet: #d0011b;
$dark-aquamarine: #00786c;
$charcoal-gray-two: #373a3c;
$cool-grey: #A6A9AB;
$light-tan: #f7dca1;
$charcoal-gray-two: #373a3c;
$cool-grey: #A6A9AB;
$light-tan: #f7dca1;
$gunmetal: #475460;
$deep-rose: #c23e4f;
$blue-green: #149e89;
$charcoal-gray-three: #353a3d;
$charcoal-grey-four: #2f383f;
$cloudy-blue: #c3cfd8;
$button-red: #D44355;


//Random custom board colors
$soft-purple: #b97995;
$orangish: #C88E5B;
$windows-blue-two: #3e90ce;
$brownish: #A27D6E;
$dark-green: #819872;
$pale-pink: #B6999A;

$squash: #f6a623;

$reddish: #c94747;
$dark-pink: #c9477d;
$nasty-green: #82b843;
$fern-green: #4d9845;
$lighter-purple: #8754fa;
$steel: #758695;
$silver: #bac3ca;
$dark2: #1f2428;
$black: #000000;
$bright-turquoise: #009A8b;
$sorry-color:#FF7B00;
$text-color:#3e4e51;
$gray60: #999999;
$hex: #363e45;